<div class="bg-dark text-white text-center p-3">all rights are reserved to Hakki &copy; <%= new Date().getFullYear() %> </div>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>